@model IEnumerable<FE.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/Reviews/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePacienteCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estrellas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCitasNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePacienteCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estrellas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCitasNavigation.NombrePacienteCita)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/Reviews/Edit/@item.IdReview "> Editar </a> |
                    <a class="btn btn-info" href="~/Reviews/Details/@item.IdReview "> Detalles </a> |
                    <a class="btn btn-danger" href="~/Reviews/Delete/@item.IdReview"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdReview">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReview">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdReview">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

