@model IEnumerable<FE.W.Models.Dentista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDentista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoDentista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDentista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoDentista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDentista">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDentista">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDentista">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
