@model IEnumerable<FE.Models.Ingresos>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/Ingresos/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoDetalleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoDetalleNavigation.PrecioFinal)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/Ingresos/Edit/@item.IdIngreso "> Editar </a> |
                    <a class="btn btn-info" href="~/Ingresos/Details/@item.IdIngreso "> Detalles </a> |
                    <a class="btn btn-danger" href="~/Ingresos/Delete/@item.IdIngreso"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdIngreso">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdIngreso">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdIngreso">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

