@model FE.W.Models.Citas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Citas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePacienteCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePacienteCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPacienteCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPacienteCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DíaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DíaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñoCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñoCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCitas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
