@model IEnumerable<FE.Models.ExpedientePaciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/ExpedientePacientes/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padecimientos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Padecimientos)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/ExpedientePacientes/Edit/@item.IdPaciente "> Editar </a> |
                    <a class="btn btn-info" href="~/ExpedientePacientes/Details/@item.IdPaciente "> Detalles </a> |
                    <a class="btn btn-danger" href="~/ExpedientePacientes/Delete/@item.IdPaciente"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdPaciente">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPaciente">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPaciente">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

