@model IEnumerable<FE.Models.Tratamiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/Tratamiento/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTratamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTratamiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTratamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoTratamiento)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/Tratamiento/Edit/@item.IdTratamiento "> Editar </a> |
                    <a class="btn btn-info" href="~/Tratamiento/Details/@item.IdTratamiento "> Detalles </a> |
                    <a class="btn btn-danger" href="~/Tratamiento/Delete/@item.IdTratamiento"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdTratamiento">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdTratamiento">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdTratamiento">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
