@model FE.Models.Reunion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Datos</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Reunion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetallesReunion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetallesReunion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDentistaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDentistaNavigation.NombreDentista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecepcionistaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRecepcionistaNavigation.NombreRecepcionista)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroReunion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" href="~/Reunion/Index"> Regresar </a>
        @*<input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>*@
    </form>
</div>
