@model FE.Models.Recepcionista

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Recepcionista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRecepcionista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreRecepcionista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoRecepcionista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoRecepcionista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" href="~/Recepcionistas/Edit/@Model.IdRecepcionista "> Editar </a> |
    <a class="btn btn-secondary" href="~/Recepcionistas/Index"> Regresar </a>
    @*<a asp-action="Edit" asp-route-id="@Model.IdRecepcionista">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>

