@model IEnumerable<FE.Models.Recepcionista>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/Recepcionistas/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRecepcionista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoRecepcionista)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRecepcionista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoRecepcionista)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>*@
                <td>
                    <a class="btn btn-warning" href="~/Recepcionistas/Edit/@item.IdRecepcionista "> Editar </a> |
                    <a class="btn btn-info" href="~/Recepcionistas/Details/@item.IdRecepcionista "> Detalles </a> |
                    <a class="btn btn-danger" href="~/Recepcionistas/Delete/@item.IdRecepcionista"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdRecepcionista">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRecepcionista">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRecepcionista">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
