@model FE.Models.Dentista

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Datos</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Dentista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDentista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDentista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoDentista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoDentista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDentista" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" href="~/Dentistas/Index"> Regresar </a>
        @*<a asp-action="Index">Back to List</a>*@
    </form>
</div>

