@model FE.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" href="~/Producto/Edit/@Model.IdProducto "> Editar </a> |
    <a class="btn btn-secondary" href="~/Producto/Index"> Regresar </a>
    @*<a asp-action="Edit" asp-route-id="@Model.IdProducto">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>
