@model IEnumerable<FE.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/Producto/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProducto)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/Producto/Edit/@item.IdProducto "> Editar </a> |
                    <a class="btn btn-info" href="~/Producto/Details/@item.IdProducto "> Detalles </a> |
                    <a class="btn btn-danger" href="~/Producto/Delete/@item.IdProducto"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

