@model FE.W.Models.PacienteNuevo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacienteNuevo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePacienteNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePacienteNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPacienteNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPacienteNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPacienteNuevo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
