@model IEnumerable<FE.Models.FacturaPaciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/FacturaPacientes/Create"> Crear Nuevo </a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPacienteNavigation.NombrePaciente)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/FacturaPacientes/Edit/@item.CodigoFactura "> Editar </a> |
                    <a class="btn btn-info" href="~/FacturaPacientes/Details/@item.CodigoFactura "> Detalles </a> |
                    <a class="btn btn-danger" href="~/FacturaPacientes/Delete/@item.CodigoFactura"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.CodigoFactura">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CodigoFactura">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CodigoFactura">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

