@model IEnumerable<FE.Models.DetalleFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Datos</h1>

<p>
    <a class="btn btn-primary" href="~/DetalleFacturas/Create">Crear Nuevo</a>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFacturaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTratamientoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoFacturaNavigation.CodigoFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTratamientoNavigation.NombreTratamiento)
                </td>
                <td>
                    <a class="btn btn-warning" href="~/DetalleFacturas/Edit/@item.CodigoDetalle "> Editar </a> |
                    <a class="btn btn-info" href="~/DetalleFacturas/Details/@item.CodigoDetalle "> Detalles </a> |
                    <a class="btn btn-danger" href="~/DetalleFacturas/Delete/@item.CodigoDetalle"> Eliminar </a>
                    @*<a asp-action="Edit" asp-route-id="@item.CodigoDetalle">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.CodigoDetalle">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.CodigoDetalle">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
